
body{
	background:url(../img/bg.jpg) no-repeat 0px 0px;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	padding: 0;
}
.div1{
	font-weight: bold;
	font-size: 20px;
	color:green;
	margin:20px;
	float:left;
	width:45%;
} 
/*this is the second div and is float in the left*/

/*.div2{
	font-weight: bold;
	font-size: 20px;
	color:green;
	margin:20px;
	float:right;
	width:45%;
}*/
/*this is used to append picture*/
.c{
	color:red;
	font-size: 30px;
	text-align: center;
	font-family: "黑体";
}
.f{
		text-align: center;
}
.a{
	color: #606060;
	margin:20px 20px 10px 20px;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.a:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.a:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
