
body{
	background:url(../img/bg.jpg) no-repeat 0px 0px;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	padding: 0;
}
/*this is used to test the fragment*/
#test{
	position:relative;
	left:30px;
	top:240px;
	width: 244px;
    height:195px;

}

canvas{
  background: none;

}


.g{
	color:green;
}
.b{
	color:blue;
}
.r{
	color:red;
}
.y{
	color:yellow;
}
.bl{
	color:black;
}
.div1{
	font-weight: bold;
	font-size: 20px;
	/*color:green;*/
	margin:20px;
	float:left;
	width:45%;
} 
/*this is the second div and is float in the left*/
 
.p{
	float:right;
	width:10%;
	margin-right=40px;
	height:20px; 
 }

/*class d is for the date counting*/
 .d{
 	float:right;
 	font-size:20px;
 	width:400px;
 	color: black;
 	font-style:italic;
 	margin-right:50px;
 }



/*class f is the passward and form*/
.f{
		text-align: center;
}
/*all the class a feature is the button*/
.a{
	color: #606060;
	margin:20px 20px 10px 20px;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.a:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.a:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
